body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e0e0e;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  height: 50px;
  width: 50px;
}

.right-items {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a{
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.nav-links li a:hover {
  color: #ccc;
}

.lang-switch button {
  padding: 5px;
  background: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.en-button {
    border: none;
}

.ro-button {
  border-right: 1px solid #fff;
  border-bottom: none;
  border-top: none;
  border-left: none;
}

.lang-switch button:hover {
  font-weight: bold;
  font-size: 16px;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #0e0e0e;
    position: fixed;
    top: 35px;
    width: 100%;
    left: 0;
    gap: 15px;
    padding-inline-start: 0px;
    border-top: 1px solid #dddddd97;
    box-shadow: 0 4px 8px #444;
    padding: 20px 0;
    z-index: 9999;
  }

  .nav-links li {
    padding-left: 20px;
  }

  .nav-links.show {
    display: flex;
  }
}
